<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1064875074065-n4qvpbdrgnvvler3mbmdhtnjij5dtejl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1064875074065-n4qvpbdrgnvvler3mbmdhtnjij5dtejl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1064875074065-11ikp2mef7m087nqr5jg1mhe2qtbpkv2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCIKXrTToyCGjHsdkj-0uKrRBTs_9wLp2s</string>
	<key>GCM_SENDER_ID</key>
	<string>1064875074065</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loter</string>
	<key>PROJECT_ID</key>
	<string>loter-410809</string>
	<key>STORAGE_BUCKET</key>
	<string>loter-410809.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1064875074065:ios:3f210676a1e1bd51fc07b0</string>
	<key>DATABASE_URL</key>
	<string>https://loter-410809-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>